.projects {
  padding: 6rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.projects-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
  column-gap: 4rem;
}

.project {
  width: 40%;
  display: grid;
  grid-template-columns: 100%;
}

.project-image {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  display: block;
  object-fit: cover;
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.project-image-hover {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s;
}

.project:hover .project-image-hover {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}

.project-link {
  font-family: var(--font-primary);
  font-size: var(--font-small);
  color: aliceblue;
  border-bottom: none;
  padding-bottom: 1rem;
  transition: all 0.1s;
}

.project-link:hover {
  border-bottom: 1px solid aliceblue;
  padding-bottom: 1.5rem;
}

.project-description {
  font-size: 1.2rem;
  color: aliceblue;
  text-align: center;
  line-height: 1.6;
}

@media screen and (max-width: 800px) {
  .project-image-hover {
    row-gap: 0.6rem;
    padding: 0.6rem;
  }
  .project-link {
    font-size: 1.5rem;
  }

  .project-link:hover {
    padding-bottom: 1rem;
  }

  .project-description {
    font-size: 1rem;
    color: aliceblue;
    text-align: center;
    line-height: 1.3;
  }
}

@media screen and (max-width: 600px) {
  .projects-container {
    width: 90%;
    row-gap: 2.5rem;
    column-gap: 2.5rem;
  }
}

@media screen and (max-width: 400px) {
  .projects {
    padding: 4rem 0;
  }
  .projects-container {
    width: 90%;
    row-gap: 4rem;
  }
  .project {
    width: 90%;
  }
}
