.about {
  width: 100%;
  padding: 10rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-education {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-image {
  display: block;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 20px 10px #e78267;
}

.education {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 2rem;
  font-family: var(--font-primary);
  font-size: var(--font-small);
}

.education-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.school-logo {
  width: 7rem;
  height: 7rem;
}

.school-certificate {
  font-size: var(--font-small);
  line-height: 1.8;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5rem;
  width: 80%;
  padding-top: 8rem;
}

.bio-text {
  font-family: var(--font-primary);
  font-size: var(--font-small);
  line-height: 2;
  text-align: center;
}

.soft-skills-intro {
  font-family: var(--font-primary);
  font-size: var(--font-medium);
  text-align: center;
}

.soft-skills {
  font-family: var(--font-primary);
  font-size: var(--font-small);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 3rem;
}

.soft-skills-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

@media screen and (max-width: 1000px) {
  .avatar {
    width: 35%;
  }

  .avatar-image {
    width: 15rem;
    height: 15rem;
  }

  .education {
    width: 65%;
  }

  .school-logo {
    width: 5rem;
    height: 5rem;
  }

  .school-certificate {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 900px) {
  .about {
    padding: 10rem 5rem;
  }

  .avatar {
    padding-right: 7rem;
  }

  .bio {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .about {
    padding: 7rem 3rem;
  }
}

@media screen and (max-width: 550px) {
  .avatar-education {
    flex-direction: column;
    row-gap: 4rem;
  }

  .avatar {
    padding-right: 0;
  }

  .avatar-image {
    width: 15rem;
    height: 15rem;
  }

  .education {
    width: 90%;
  }

  .school-logo {
    width: 5rem;
    height: 5rem;
  }

  .school-certificate {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .bio {
    padding-top: 5rem;
  }
}

@media screen and (max-width: 440px) {
  .avatar {
    width: 100%;
    /* padding-bottom: 5rem; */
  }
  .avatar-image {
    width: 12rem;
    height: 12rem;
  }

  .school-certificate {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .bio {
    width: 100%;
    padding-left: 0;
    padding-top: 3rem;
  }
  .bio-text {
    font-size: 1.3rem;
    line-height: 1.6;
  }

  .soft-skills {
    font-size: 1.2rem;
    row-gap: 1rem;
  }
}
