.about {
  width: 100%;
  padding: 10rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-education {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-image {
  display: block;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 20px 10px #e78267;
}

.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 2rem;
  font-family: var(--font-primary);
  font-size: var(--font-small);
}

.education-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.school-logo {
  width: 7rem;
  height: 7rem;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5rem;
  width: 80%;
  padding-top: 8rem;
}

.bio-text {
  font-family: var(--font-primary);
  font-size: var(--font-small);
  line-height: 2;
  text-align: center;
}

.soft-skills-intro {
  font-family: var(--font-primary);
  font-size: var(--font-medium);
  text-align: center;
}

.soft-skills {
  font-family: var(--font-primary);
  font-size: var(--font-small);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 3rem;
}

.soft-skills-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

@media screen and (max-width: 900px) {
  .about {
    padding: 10rem 7rem;
  }

  .avatar {
    padding-right: 10rem;
  }
}

@media screen and (max-width: 800px) {
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    width: 80%;
    border-bottom: 1px solid rgb(49, 48, 48);
    border-right: none;
    padding-right: 0;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
  }

  .bio {
    display: block;
    width: 80%;
    padding-left: 0;
    padding-top: 6rem;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .bio {
    width: 90%;
    padding-left: 0;
  }
  .bio-text {
    font-size: 1.5rem;
    line-height: 2;
  }
}

@media screen and (max-width: 400px) {
  .avatar {
    width: 100%;
    padding-bottom: 5rem;
  }
  .avatar-image {
    width: 12rem;
    height: 12rem;
  }

  .bio {
    width: 100%;
    padding-left: 0;
    padding-top: 3rem;
  }
  .bio-text {
    font-size: 1rem;
    line-height: 1.6;
  }
}
