.contact {
  width: 100%;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 6rem;
}

.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}

.contact-link,
.contact-link:visited,
.contact-link:active {
  font-family: var(--font-primary);
  font-size: var(--font-medium);
  color: black;
  padding: 1rem;
  border-bottom: 2px solid black;
  transition: all 0.2s;
}

.contact-link:hover {
  color: red;
  border-bottom: 2px solid red;
}

.form-title {
  font-family: var(--font-primary);
  font-size: var(--font-medium);
  text-align: center;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
}

.form input {
  width: 80%;
  height: 4rem;
  padding: 1rem;

  font-family: var(--font-primary);
  font-size: var(--font-small);
}

.form textarea {
  width: 80%;
  height: 19rem;
  padding: 1rem;
  font-family: var(--font-primary);
  font-size: var(--font-small);
  resize: none;
}

.form-button {
  width: 25%;
  padding: 1.5rem 1rem;
  background: none;
  font-family: var(--font-primary);
  font-size: var(--font-medium);
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;

  transition: all 0.2s;
}

.form-button:hover {
  border: 1px solid green;
  color: green;
}

.error {
  border: 2px solid red;
}

.form p {
  font-family: var(--font-primary);
  font-size: var(--font-medium);
  line-height: 2;
}

.success-text {
  color: green;
}

.error-text {
  color: red;
}

@media screen and (max-width: 1000px) {
  .form {
    width: 70%;
  }

  .form input {
    width: 80%;
  }

  .form textarea {
    width: 80%;
  }

  .form-button {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .form-title {
    font-size: 2.2rem;
  }
  .form {
    width: 80%;
  }

  .form input {
    width: 80%;
  }

  .form textarea {
    width: 80%;
  }

  .form-button {
    width: 35%;
  }

  .form p {
    text-align: center;
    line-height: 1.6;
  }
}

@media screen and (max-width: 500px) {
  .form {
    width: 100%;
  }

  .form input {
    width: 90%;
  }

  .form textarea {
    width: 90%;
  }

  .form-button {
    width: 45%;
  }

  .form p {
    font-size: var(--font-small);
  }
}
