.header {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.logo {
  height: auto;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 2rem;
}

.nav-item {
  font-family: var(--font-primary);
  font-size: var(--font-medium);

  cursor: pointer;
  transition: all 0.2s;
}

.nav-item:hover {
  color: red;
}

.nav-item-active {
  font-family: var(--font-primary);
  font-size: var(--font-medium);
  color: red;

  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .logo {
    width: 30rem;
    height: auto;
  }
}

@media screen and (max-width: 900px) {
  .header {
    /* padding: 4.5rem 0; */
  }

  .nav-items {
    column-gap: 2rem;
  }

  .nav-item {
    font-size: 2.5rem;
  }

  .nav-item-active {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .logo {
    width: 25rem;
    height: auto;
  }
}

@media screen and (max-width: 770px) {
  .nav-item {
    font-size: var(--font-small);
  }

  .nav-item-active {
    font-size: var(--font-small);
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 3rem 0;
  }

  .logo {
    width: 18rem;
    height: auto;
  }

  .nav-items {
    column-gap: 1.5rem;
  }
  .nav-item {
    font-size: 1.5rem;
  }

  .nav-item-active {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 520px) {
  .header {
    /* padding: 3rem 0; */
  }

  .logo {
    width: 15rem;
    height: auto;
  }

  .nav-items {
    column-gap: 1rem;
  }
  .nav-item {
    font-size: 1.5rem;
  }

  .nav-item-active {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 440px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }

  .nav-item {
    font-size: 1.3rem;
  }

  .nav-item-active {
    font-size: 1.3rem;
  }
}
